

<nav class="navbar navbar-expand-lg navbar-dark">
    <a href="/users/logout" style="color:#fff"><i class="fas fa-sign-out-alt"></i>Logout</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01" >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link  ml-5" href="http://www.iium.edu.my/">IIUM </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="https://italeem.iium.edu.my/">iTaleem</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://cas.iium.edu.my:8448/cas/login?service=http%3a%2f%2fimaluum.iium.edu.my%2fhome">iMaluum</a>
        </li>
   <li class="nav-item">
          <a class="nav-link" href="/dashboard">
            <i class="fas fa-home"></i>  Home</a>
        </li>
        <% if(user.role=="admin") {%>
          <li class="nav-item">
            <a class="nav-link" href="/settings">
              <i class="fab fa-whmcs"></i>  Settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">
              <i class="far fa-user"></i>  Profile</a>
          </li>
          <% } %>
    
          <% if(user.role=="user") {%>
            
            <li class="nav-item">
              <a class="nav-link" href="/profile">
                <i class="far fa-user"></i>  Profile</a>
            </li>
            <% } %>
      </ul>
     
    </div>
    <div class="navbar-text">Welcome <%=user.name%> (<%= user.role %>)
  </div>
  
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class ="col-md-6 card card-body "  style="border:1px solid black">
        <h1 class="mt-4"  style =" text-align: center"><i class="fas fa-search"></i>  Searching for Available Venues</h1>
        <p class=" mt-3 lead mb-1" style =" text-align: center">Provide filters for venues </p>
        <p class="lead mb-1" style =" text-align: center"><i class="fas fa-info-circle"></i>  Note : All fields except for "Date" is optional to fill!</p>
        <p class=" mt-3 lead mb-1" style =" text-align: center">The different types of venues are displayed below: </p>
        <p class="  mt-2 mb-1" style =" text-align: center">  <b>SR</b>: STUDY ROOM</p>
        <p class="   mb-1" style =" text-align: center"> <b>TR</b>: TUTORIAL ROOM</p>
        <p class="   mb-1" style =" text-align: center"> <b>LR</b>: LECTURE ROOM</p>
        <p class="   mb-1" style =" text-align: center">  <b>LR(M)</b>: LECTURE ROOM WITH MUTLIMEDIA FACILITIES</p>
        <p class="   mb-1" style =" text-align: center">  <b>TB</b>: TABLES AND CHAIRS</p>
        <p class="   mb-1" style =" text-align: center">  <b>FC</b>: FLIP CHAIRS</p>
       
      </div>
  <div class="col-md-6 card card-body ">
      <div>
        <div>
          <% include ./partials/messages %>
          <form id="form" action="/dashboard/reserve/fVenue/avaVenues" method="POST">
            <div class="form-group mt-2">
                <label for="searchStartDate">Date</label>
                <input
                    type="date"
                    id="searchStartDate"
                    name="searchStartDate"
                    class="form-control"
                    placeholder="Select Date"
                    value="searchStartDate"
                  
                    
                />
            </div>
          
              
          <div class="form-row">
              <div class="form-group mt-2 col-md-6">
              
                  <label for="blockNo">Select Block</label>
                  <select class="custom-select"id="blockNo" name="blockNo">
                  <option value=""> Select Block</option>
                  <option value="E0"<%= typeof blockNo != 'undefined' ? blockNo: '' %>
                  >E0</option>
                  <option value="E1"<%= typeof blockNo != 'undefined' ? blockNo: '' %>
                  >E1</option>
                  <option value="E2"<%= typeof blockNo != 'undefined' ? blockNo: '' %>
                  >E2</option>
                  <option value="E3"<%= typeof blockNo != 'undefined' ? blockNo: '' %>
                  >E3</option>
                  <option value="E4"<%= typeof blockNo != 'undefined' ? blockNo: '' %>
                  >E4</option>
                  <option value="E5"<%= typeof blockNo != 'undefined' ? blockNo: '' %>
                  >E5</option>
                  <option value="E6"<%= typeof blockNo != 'undefined' ? blockNo: '' %>
                  >E6</option>
                </select>
              
              
          </div>
              <div class="form-group mt-2 col-md-6">
                  <label for="capacity">Capacity</label>
                  <select onfocus='this.size=5;' onblur='this.size=1;' onchange='this.size=1; this.blur();' class="custom-select"id="capacity" name="capacity">
                  <option value=""> Select Capacity</option>
                  <option value="20"<%= typeof capacity != 'undefined' ? capacity: '' %>
                  >20</option>
                  <option value="30"<%= typeof capacity != 'undefined' ? capacity: '' %>
                  >30</option>
                  <option value="40"<%= typeof capacity != 'undefined' ? capacity: '' %>
                  >40</option>
                  <option value="50"<%= typeof capacity != 'undefined' ? capacity: '' %>
                  >50</option>
                  <option value="70"<%= typeof capacity != 'undefined' ? capacity: '' %>
                  >70</option>
                  <option value="80"<%= typeof capacity != 'undefined' ? capacity: '' %>
                  >80</option>
                  <option value="180"<%= typeof capacity != 'undefined' ? capacity: '' %>
                  >180</option>
                  <option value="200"<%= typeof capacity != 'undefined' ? capacity: '' %>
                  >200</option>
                  <option value="380"<%= typeof capacity != 'undefined' ? capacity: '' %>
                  >380</option>
                </select>
                        
                  </div>
              </div>

              <div class="form-row">
                  <div class="form-group mt-2 col-md-6">
                  
                      <label for="seatingType">Seating Type</label>
                      <select class="custom-select"id="seatingType" name="seatingType">
                      <option value=""> Select Seating Type</option>
                      <option value="TB"<%= typeof seatingType != 'undefined' ? seatingType: '' %>
                      >TB</option>
                      <option value="FC"<%= typeof seatingType != 'undefined' ? seatingType: '' %>
                      >FC</option>
                      
                    </select>
                  
                  
              </div>
                  <div class="form-group mt-2 col-md-6">
                              <label for="venueType">Classroom Type</label>
                              <select class="custom-select" name="venueType" id="venueType">
                              <option value="">Select Classroom Type</option>
                              <option value="SR"<%= typeof venueType != 'undefined' ? venueType : '' %>"
                              >SR</option>
                              <option value="TR"<%= typeof venueType != 'undefined' ? venueType : '' %>"
                              >TR</option>
                              <option value="LR"<%= typeof venueType != 'undefined' ? venueType : '' %>"
                              >LR</option>
                              <option value="LR(M)"<%= typeof venueType != 'undefined' ? venueType : '' %>"
                              >LR(M)</option>
                              <option value="Audi"<%= typeof venueType != 'undefined' ? venueType : '' %>"
                              >Audi</option>
                            </select>
                            
                      </div>
                  </div>
  
                  
  
                  <div class="form-row mt-2">
                    <div class="form-group mt-4 col-md-6">
                        <button type="submit" class="btn btn-info btn-block ">Search</button>
                    </div>
                      <div class="form-group mt-4 col-md-6">
                        <a href="/dashboard/reserve" class="btn  btn-block ">Reservation Page</a>
                    </div>
          
                
                  </div>
              
  
          </form>
      
          
        </div>
      </div>
    </div>
  </div>
</div>


  <style>
  .container-fluid {
  width: 100vw;
  background-color: #2c3e50;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100vh;
  overflow: hidden;
  }

  h1,h2 {
  color: #2c3e50;
  }


  .btn {
  background-color: #fff;
  color: #2c3e50;
  padding: 10px;
  font-size: 1.0rem;
  width: 50%;
  display: block;
  margin: auto;
  border-radius: 50px;
  transition: all 500ms;
  opacity: 1;
  border: 1px solid #2c3e50;
  }

  .btn:hover {
  color: #fff;
  background-color: #2c3e50;
  border: 1px solid #fff;
  }
  .card {
  border-radius: 25px;
  }

  p {
  color: #2c3e50;
  font-weight: bold;
  }
  </style>
    <script>
        var today = new Date().toISOString().split('T')[0];
    document.getElementsByName("searchStartDate")[0].setAttribute('min', today);
    </script>
  
  
  