
<nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <a href="/users/logout" class="btn btn-light ">Logout</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor01" >
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link  ml-5" href="http://www.iium.edu.my/">IIUM </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="https://italeem.iium.edu.my/">iTaleem</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://cas.iium.edu.my:8448/cas/login?service=http%3a%2f%2fimaluum.iium.edu.my%2fhome">iMaluum</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="/dashboard">
                <i class="fas fa-home"></i>  Home</a>
            </li>
            <% if(user.role=="admin") {%>
              <li class="nav-item">
                <a class="nav-link" href="/settings">
                  <i class="fab fa-whmcs"></i>  Settings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/profile">
                  <i class="far fa-user"></i>  Profile</a>
              </li>
              <% } %>
        
              <% if(user.role=="user") {%>
                
                <li class="nav-item">
                  <a class="nav-link" href="/profile">
                    <i class="far fa-user"></i>  Profile</a>
                </li>
                <% } %>
            
          </ul>
         
        </div>
        <div class="navbar-text">Welcome
      </div>
      
      </nav>
      
      <div class ="mt-4 card card-body"  style="border:1px solid black">
              <h1 class="mt-4"  style =" text-align: center"><i class="fas fa-user-times"></i>  Rejecting Request</h1>
              <p class=" mt-3 lead mb-1" style =" text-align: center">Provide a reason for the rejectiong of the user's request</p>
              
      </div>

      <div class="row mt-3">
            <div class="col-md-6 m-auto">
              <div class="card card-body">
                
                
                 
                  <div class="form-group">
                    <label for="reason">State Reason</label>
                    
                  </div>
                  
                  <form method="POST" action="/dashboard/requests/details/<%= requested[0]._id %>/reject/<%=requested[0]._id%>">
                    <label for="reasonOfRejection">Reason </label>
                    <input
                        type="reasonOfRejection"
                        id="reasonOfRejection"
                        name="reasonOfRejection"
                        class="form-control"
                        placeholder="Inapproriate Purpose etc"
                        value=""<%= typeof reasonOfRejection != 'undefined' ? reasonOfRejection: '' %>
                    /> 
                  <button  type="submit" onclick="return confirm('Are you sure to reject this request ?');"class="btn btn-primary btn-block lead mt-4">
                    Reject Request
                  </button>
                  </form>
                
                <p class="lead mt-2">Back to Requests <a href="/dashboard/requests">Here</a></p>
                
              </div>
            </div>
          </div>

          <script>
          
          // const button2 = document.getElementById('reject');         
          //              button2.addEventListener('click',function(e){
          //                  fetch(`/dashboard/requests/details/<%= requested[0]._id %>/reject/<%=requested[0]._id%>`,{
          //                      method: "post",
          //                      headers : {
          //                      "Content-Type" : "application/json; charset=utf-8"
          //                  },
                           
          //                  })  
          //                  location.href = `/dashboard/requests`
                       
          //              });
          </script>